{% extends "template/tmpl_base.twig" %}

{% block title %}
    {{ parent () }}Beheer - 
{% endblock title %}

{% block navigation %}
<nav class="navbar navbar-default row">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ app.root }}/home/go/">Home</a></li>
        <li><a href="{{ app.root }}/articleadmin/viewall/">Artikels</a></li>
        <li><a href="{{ app.root }}/toppingadmin/viewall/">Toppings</a></li>
        <li><a href="{{ app.root }}/customeradmin/viewall/">Klanten</a></li>
        <li><a href="{{ app.root }}/orderadmin/viewall/">Orders</a></li>
        <li><a href="{{ app.root }}/shippingadmin/viewlist/">Leveringlijst</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if app.user is empty %}
        <li><a href="{{ app.root }}/auth/go/">Log in</a></li>
    {% else %}
        {% if app.user.admin == 1 %}
            <li><a href="{{ app.root }}/admin/go/">Beheer</a></li>
        {% endif %}
            <li><a href="{{ app.root }}/auth/logout/">Log out</a></li>
    {% endif %}
    </ul>
</nav>
{% endblock navigation %}