{% extends "template/tmpl_base.twig" %}

{% block navigation %}
<nav class="navbar navbar-default row">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ app.root }}/home/go/">Home</a></li>
        <li><a href="{{ app.root }}/menu/show/pizza">Menu</a></li>
        {% if app.user is defined and app.user is not empty and app.user.admin != 1 %}
            <li><a href="{{ app.root }}/order/go/">Bestel</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if app.user is empty %}
        <li><a href="{{ app.root }}/auth/go/">Log in</a></li>
    {% else %}
        {% if app.user.admin == 1 %}
        <li><a href="{{ app.root }}/admin/go/">Beheer</a></li>
        {% endif %}
        <li><a href="{{ app.root }}/auth/logout/">Log out</a></li>
    {% endif %}
    </ul>
</nav>
{% endblock navigation %}