{% extends "template/tmpl_admin.twig" %} 

{% block title %}
    {{ parent() }}
    Artikel Lijst
{% endblock %} 
{% block content %} 
<div class="panel panel-primary">
    <div class="panel-heading">Artikellijst</div>
    <table class="table">
        <thead>
            <tr class="active">
                <td>Naam</td>
                <td>Prijs</td>
                <td>Promo Prijs</td>
                <td>Promotie</td>
                <td>Categorie</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%  for article in articles  %} 
                <tr>
                    <td><a href="{{ app.root }}/articleadmin/viewdetail/{{ article.id }}">{{ article.name }}</a></td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.promo_price }}</td>
                    <td>{{ article.promo_status }}</td>
                    <td>{{ article.category.name }}</td>
                    <td><a href="{{ app.root }}/articleadmin/delete/{{article.id}}">Delete</a></td>
                </tr>
            {%  endfor  %} 
        </tbody>
    </table>
    <div class="well well-bottom">
        <a class="btn btn-primary" href="{{ app.root }}/articleadmin/add/">Nieuw artikel</a>
    </div>
</div><!--end of panel-->
{% endblock %} 