{% extends "template/tmpl_admin.twig" %} 

{% block title %}
    {{ parent() }}Klanten
{% endblock %} 
{% block content %} 
<div class="panel panel-primary">
    <div class="panel-heading">Klantenlijst</div>
    <table class="table">
        <thead>
            <tr class="active">
                <td>Naam</td>
                <td>Adres</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%  for customer in customers  %} 
                <tr>
                    <td><a href="{{ app.root }}/customeradmin/viewdetail/{{ customer.id }}">{{ customer.firstname }} {{customer.lastname}}</a></td>
                    <td>{{customer.address}} {{customer.postcode}} {{customer.city}}</td>
                    <td><a href="{{ app.root }}/customeradmin/delete/{{customer.id}}">Delete</a></td>
                </tr>
            {%  endfor  %} 
        </tbody>
    </table>
    <div class="well">
        <a class="btn btn-primary" href="{{ app.root }}/customeradmin/viewnew/">Nieuwe klant</a>
    </div>
</div><!--end of panel-->
{% endblock %} 