{%extends "template/tmpl_admin.twig"%}

{%block title%}Pizzashop - Beheer - Klanten{%endblock%}
{%block content%}
<div class="panel panel-primary">
    <div class="panel-heading">Klant Detail</div>
    <form class="form-horizontal" role="form" method="post" {% if customer is defined and customer is not empty %} action="/pizzashop/customeradmin/save" {% else %} action="/pizzashop/customeradmin/add" {% endif %}>
        <input type="hidden" name="id" value="{{ customer.id }}">
        {% if customer is not defined%}
        <div class="well">
            <div class="form-group">
                <label class="col-lg-2" for="username">Gebruikersnaam</label>
                <div class="col-lg-2"><input name="username" id="username" type="text" required></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="email">Email</label>
                <div class="col-lg-2"><input name="email" id="email" type="email" required></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="password">Wachtwoord</label>
                <div class="col-lg-2"><input name="password" id="password" type="password" required></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="passconfirm">Bevestig wachtwoord</label>
                <div class="col-lg-2"><input name="passconfirm" id="passconfirm" type="password" required></div>
            </div>
        </div><!--end of login data well-->
        {% endif %}
        <div class="well">
            <div class="form-group">
                <label class="col-lg-2" for="firstname">Voornaam</label>
                <div class="col-lg-2"><input name="firstname" id="firstname" type="text" required value="{{customer.firstname}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="lastname">Familienaam</label>
                <div class="col-lg-2"><input name="lastname" id="lastname" type="text" required value="{{customer.lastname}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="address">Adres</label>
                <div class="col-lg-2"><input name="address" id="address" type="text" required value="{{customer.address}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="postcode">Postcode</label>
                <div class="col-lg-2"><input name="postcode" id="postcode" type="text" required value="{{customer.postcode}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="city">Gemeente</label>
                <div class="col-lg-2"><input name="city" id="city" type="text" required value="{{customer.city}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="telephone">Telefoon</label>
                <div class="col-lg-2"><input name="telephone" id="telephone" type="tel" required value="{{customer.telephone}}"></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2" for="active_status">Actief</label>
                <div class="col-lg-1"><input name="active_status" id="active_status" type="checkbox" value="yes"{%if customer.active_status == true%}checked{%endif%}></div>
            </div>
        </div><!--end of address data well-->
        <div class="well">
                <input type="submit" class="btn btn-primary" value="Opslaan">
        </div>
    </form>
</div><!--end of panel-->
{%endblock%}