{% extends "template/tmpl_public.twig" %} 

{% block title %}
    {{ parent() }}Order
{% endblock %} 
{% block content %} 
{%  if cart is defined and cart.items is not empty  %} 
<form class="form-horizontal" role="form" method="post" action="{{ app.root }}/order/updateitems/">
    <div class="panel panel-default">
        <div class="panel-heading">Winkelmandje van {{cart.customer.fullname}}</div>
        <table class="table">
            <thead>
                <tr class="active">
                    <td>Naam</td>
                    <td>Prijs</td>
                    <td>Hoeveelheid</td>
                    <td>Subtotaal</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {%  for key,item in cart.items  %} 
                    <tr>
                        <td>
                            {{ item.article.name }}
                            {%  if item.extratoppings is not empty  %} 
                                {%  for topping in item.extratoppings  %} 
                                    <br>met extra {{topping.name}}
                                {%  endfor  %} 
                            {%  endif  %} 
                        </td>
                        <td>{{ item.cost }}</td>
                        <td><input type="number" name="quantity[{{key}}]" value="{{ item.quantity }}" required></td>
                        <td>{{ item.total }}</td>
                        <td><a href="{{ app.root }}/order/removeitem/{{key}}">Delete</a></td>
                    </tr>
                {%  endfor  %} 
            </tbody>
            <tbody>
                <tr class="active">
                    <td>Totaal:</td>
                    <td></td>
                    <td></td>
                    <td>{{cart.total}}</td>
                    <td><input type="submit" class="btn btn-default" value="Wijzigingen bewaren"></td>
                </tr>
            </tbody>
        </table>
    </div><!--end of panel shoppingcart-->
</form>
{%  endif  %} 
<div class="well">
    <a class="btn btn-default" href="{{ app.root }}/order/selectpizza/">Kies pizza</a>
    <a class="btn btn-default" href="{{ app.root }}/order/selectbeverage/">Kies drank</a>
    {%  if cart is defined and cart.items is not empty  %} 
        <a class="btn btn-default pull-right" href="{{ app.root }}/order/delivery/">Ga verder</a>
    {%  endif  %} 
</div>
{% endblock %} 