{% extends "template/tmpl_public.twig" %} 

{% block title %}
    {{ parent() }}Orderkeuze
{% endblock %} 
{% block content %} 
<form class="form-horizontal" role="form" method="post" action="{{ app.root }}/order/additem">
    <div class="panel panel-default">
        <div class="panel-heading">Maak je keuze</div>
        <div class="well">
            {%  for article in articles  %} 
                <div class="form-group">
                    <input type="radio" name="id" id="{{article.id}}}" value="{{article.id}}" required>
                    <label for="{{article.id}}">
                        {{article.name}}
                        {%  if article.promo_status == 1  %} 
                            PROMOTIE !
                        {%  endif %} 
                    </label>
                </div>
            {%  endfor  %} 
        </div>
        {%  if toppings is defined  %} 
        <div class="well">
            {%  for topping in toppings  %} 
                <div class="form-group">
                    <input type="checkbox" name="toppings[]" id="{{topping.id}}}" value="{{topping.id}}">
                    <label for="{{topping.id}}">{{topping.name}}</label>
                </div>
            {%  endfor  %} 
        </div>
        {%  endif  %} 
        <div class="well">
            <div class="form-group">
                <label for="quantity" class="col-lg-1">Aantal</label>
                <div class="col-lg-1"><input class="form-control" id="quantity" name="quantity" type="text" value="1"></div>
            </div>
        </div>
        <div class="well">
                <input class="btn btn-default" type="submit" value="Voeg toe">
        </div>
    </div><!--end of panel shoppingcart-->
</form>
{% endblock %} 