{%extends "template/tmpl_public.twig"%}

{%block title%}Pizzashop - Beheer - Leveringen{%endblock%}
{%block content%}
<div class="panel panel-primary">
    <div class="panel-heading">Openstaande Orders</div>
    {%for customer in customers%}
    <div class="well">
        {{customer.fullname}}
        {{customer.address}}
        {{customer.postcode}}
        {{customer.city}}
        <table class="table">
            <thead>
                <tr class="active">
                    <td>Orderid</td>
                    <td>Datum</td>
                    <td>Ordertotaal</td>
                    <td>Orderstatus</td>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {%if order.customer.id == customer.id%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{order.orderstatus.description}}</td>
                    </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        {%for customertotal in customertotals%}
        {%if customertotal.customerid == customer.id%}
            Totaal voor klant: {{customertotal.total}}
        {%endif%}
        {%endfor%}
    </div>
    {%endfor%}
    <div class="well">Totaal openstaande orders: {{total}}</div>
</div><!--end of panel-->
{%endblock%}