{% extends "template/tmpl_admin.twig" %}

{% block title %}
    {{ parent() }}Topping
{% endblock title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">Toppinglijst</div>
    <table class="table">
        <thead>
            <tr class="active">
                <td>Naam</td>
                <td>Prijs</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for topping in toppings %}
                <tr>
                    <td><a href="{{ app.root }}/toppingadmin/viewdetail/{{ topping.id }}">{{ topping.name }}</a></td>
                    <td>{{ topping.price }}</td>
                    <td><a href="{{ app.root }}/toppingadmin/delete/{{ topping.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="well">
        <a class="btn btn-primary" href="{{ app.root }}/toppingadmin/add/">Nieuwe topping</a>
    </div>
</div><!--end of panel-->
{% endblock content %}